* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body {
    background-color: black;
    text-align: center;
}
.primary-headers{
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
.primary-headers:nth-child(2){
    font-size: 42px;
    font-weight: 300;
}
.secondary-headers {
    font-size: 21px;
    color: gray;
}

.primary-link {
    color: aquamarine;
    font-size: 16px;
}