* {
    box-sizing: border-box;
}
body {
    background-color: black;
    text-align: center;
}
.primary-header{
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: white;
    text-align: center;
}
.primary-link {
    color: aquamarine;
    font-size: 16px;
}